<div class="banner_interna" style="background-image: url(/assets/images/banner-actualidad.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                Actualidad
            </h1>
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut finibus erat, a fringilla purus.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_actualidad">

    <div class="seccion_white seccion_actualidad">
        <div class="container">
            <h2>
                Tenemos la firme convicción que la información es la pieza clave para tomar las mejores decisiones de inversión, por eso, todas las empresas que forman parte de Inteligo Group, comparten el compromiso de mantener a sus clientes al día con recomendaciones e información relevante y veraz.
            </h2>

            <div class="parrafo">
                Nuestra División de Estrategia y Análisis es una de las más reconocidas del mercado, destacándose además por su imparcialidad, por la calidad de sus recomendaciones, por ser los pioneros en emitir reportes en inglés, así como por su excelente relación con los inversionistas locales e internacionales. Nuestro flujo de información es constante con nuestros clientes y se realiza a través de diversos medios como:
            </div>

            <div class="lista_items">
                <div class="row padd-8">
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Reportes diarios, semanales y mensuales</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Ediciones especiales</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Estrategias de Inversión</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Oportunidades de Inversión</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Podcasts</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Webinars</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Eventos presenciales en Lima y Provincias</div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="f"></div>
                            <div class="txt">Entre otros</div>
                        </article>
                    </div>
                </div>
            </div>


        
        </div>

        <div class="caja_comentarios">
            <div class="container">
                <div class="titulo">
                    Comentarios del mercado
                </div>
                <div class="caja_videos">
                    <div class="row padd-8" id="container_comentarios">
                        <div class="col-md-6">
                            <div class="video openLayer" ruta="https://player.vimeo.com/video/247342856">
                                <img src="/assets/images/actualidad-video-img-1.jpg">
                                <div class="velo">
                                    <div class="play"></div>
                                    <div class="c_texto">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                        <div class="fecha">
                                            05 de Agosto de 2020
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video openLayer" ruta="https://player.vimeo.com/video/47679586">
                                <img src="/assets/images/actualidad-video-img-2.jpg">
                                <div class="velo">
                                    <div class="play"></div>
                                    <div class="c_texto">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                        <div class="fecha">
                                            05 de Agosto de 2020
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video openLayer" ruta="https://player.vimeo.com/video/247342856">
                                <img src="/assets/images/actualidad-video-img-3.jpg">
                                <div class="velo">
                                    <div class="play"></div>
                                    <div class="c_texto">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                        <div class="fecha">
                                            05 de Agosto de 2020
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video openLayer" ruta="https://player.vimeo.com/video/47679586">
                                <img src="/assets/images/actualidad-video-img-4.jpg">
                                <div class="velo">
                                    <div class="play"></div>
                                    <div class="c_texto">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                        <div class="fecha">
                                            05 de Agosto de 2020
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_vermas">
                    <a href="actualidad-comentarios.php" class="full"></a>
                    Ver más Comentarios
                    <div class="play"></div>
                </div>
                <div class="clear"></div>
                
            </div>
        </div>

        <div class="caja_conceptos">
            <div class="container">
                <div class="titular">
                    Conceptos generales
                </div>
                <div class="parrafo">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut finibus erat, a fringilla purus. Aliquam consectetur, lorem vitae rhoncus mattis, libero velit hendrerit massa, eu finibus sem eros a odio. Nunc posuere dolor id sapien congue, et pretium augue rhoncus. Praesent vulputate vehicula est, ut lobortis metus euismod placerat.
                </div>

                <div class="lista_videos">
                    <div class="row" id="container_conceptos">
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/247342856">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-1.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/47679586">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-2.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/247342856">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-3.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/47679586">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-4.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/247342856">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-5.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/47679586">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-6.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/247342856">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-7.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/47679586">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-8.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="video openLayer"  ruta="https://player.vimeo.com/video/247342856">											
                                <div class="imagen">
                                    <img src="/assets/images/actualidad-concepto-img-9.jpg">
                                    <div class="velo">
                                        <div class="play"></div>
                                    </div>
                                </div>
                                <div class="c">
                                    <div class="fecha">
                                        05 de Agosto de 2020
                                    </div>
                                    <div class="nombre">
                                        Adipiscing elit massa enim. Nullam id varius nunc.
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="btn_vermas">
                    <a href="actualidad-tutoriales.php" class="full"></a>
                    Ver más Tutoriales
                    <div class="play"></div>
                </div>
                <div class="clear"></div>
            </div>					
        </div>	
    </div>
</div>		