	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="logo">
					<a href="index.php">
						<img src="images/logo.svg">
					</a>
				</div>
				<div class="txt">
					Desarrollamos el futuro de nuestros clientes para que puedan disfrutar del presente.
				</div>
				<div class="vertical_line"></div>
			</div>
			<div class="col-md-9">
				<ul class="lista_menu">
					<li class="menu_organizacion">
						<a href="nuestra-organizacion.php" class="full"></a>
						Nuestra <br>
						Organización
					</li>
					<li class="menu_cultura">
						<a href="cultura-interna.php" class="full"></a>
						Cultura <br>
						Interna
					</li>
					<li class="menu_directivos">
						<a href="principales-directivos.php" class="full"></a>
						Principales Ejecutivos <br>
						y Directivos
					</li>
					<li class="menu_informacion">
						<a href="informacion-financiera.php" class="full"></a>
						Información <br>
						Financiera
					</li>
					<li class="menu_actualidad">
						<a href="actualidad.php" class="full"></a>
						Actualidad
					</li>
					<li class="menu_encuentrenos">
						<a href="encuentrenos.php" class="full"></a>
						Encuéntrenos
					</li>
				</ul>

				<div class="caja_right">
					<div class="redes">
						<div class="txt">
							Síguenos En
						</div>
						<div class="ico">
							<a href="#" target="_blank">
								<img src="images/ico-instagram.svg">
							</a>
						</div>
					</div>
					<div class="barra_gris">	
						<div class="idioma">
							<a href="#" class="full"></a>
							ES
						</div>
						<div class="idioma">
							<a href="#" class="full"></a>
							EN
						</div>						
					</div>
				</div>
			</div>
			
		</div>
    </div>