<div class="banner_interna" style="background-image: url(/assets/images/banner-principales-directivos.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                PRINCIPALES DIRECTIVOS Y EJECUTIVOS COMERCIALES
            </h1>
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_directivos">

    <div class="seccion_white seccion_principales_directivos">
        <div class="container">
            <div class="lista_directivos">
                <div class="row padd-8">
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-1.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Carlos Rodríguez-Pastor Persivale 
                                </div>
                                <div class="cargo">
                                    Presidente de Intercorp <br>
                                    Director Inteligo Group <br>
                                    Fundador y Socio General de Nexus Group
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-2.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Roberto Hoyle McCallum 
                                </div>
                                <div class="cargo">
                                    Presidente Inteligo Group <br>
                                    Presidente Inteligo Bank Ltd. <br>
                                    Director Intéligo SAB
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-3.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Reynaldo Roisenvit Grancelli 
                                </div>
                                <div class="cargo">
                                    Gerente General Inteligo Group <br>
                                    Director Ejecutivo Inteligo Bank Ltd. <br>
                                    Presidente Interfondos <br>
                                    Director Inteligo USA
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-4.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Bruno Ferreccio del Río
                                </div>
                                <div class="cargo">
                                    Gerente General Adjunto Inteligo Group <br>
                                    Gerente General Intéligo SAB <br>
                                    Gerente General de IPH - Inteligo Perú Holdings <br>
                                    Director Interfondos
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-5.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Víctor Vinatea Cámere
                                </div>
                                <div class="cargo">
                                    Gerente General Inteligo Bank Ltd. - Sucursal Panamá <br>
                                    Gerente de Operaciones Inteligo Group 
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-6.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Antonio Farje Gordon
                                </div>
                                <div class="cargo">
                                    Gerente General Interfondos
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-7.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Raúl Barcia Estrella
                                </div>
                                <div class="cargo">
                                    Vicepresidente Comercial <br>Intéligo SAB
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-8.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    César Labarthe Zlatar 
                                </div>
                                <div class="cargo">
                                    Gerente de Gestión de Activos <br>Intéligo SAB
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-9.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Ernesto Delgado Pino
                                </div>
                                <div class="cargo">
                                    Gerente de Distribución y Trading <br>Intéligo SAB
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-10.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Augusto Rodríguez Alcocer 
                                </div>
                                <div class="cargo">
                                    Gerente de Estrategia y Análisis <br>Intéligo SAB
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <article>
                            <div class="imagen">
                                <img src="/assets/images/directivos-img-11.jpg">
                            </div>
                            <div class="c">
                                <div class="nombre">
                                    Alfonso Estremadoyro García 
                                </div>
                                <div class="cargo">
                                    Sub-Gerente Comercial <br>
                                    Certia Intéligo 
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>

        
        </div>


            

        



        
        
    </div>
</div>

