<div class="banner_interna" style="background-image: url(/assets/images/banner-informacion-financiera.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                INFORMACIÓN FINANCIERA
            </h1>
            <div class="texto">
                Aquí encontrará todo lo que necesita saber sobre nosotros para estar bien informado.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_informacion">

    <div class="seccion_white seccion_informacion_financiera">
        <div class="container">
            <h2>
                Transparencia, confidencialidad y profesionalismo son las principales características de nuestra labor.
            </h2>
            <div class="parrafo">
                Aquí encontrará todo lo que necesita saber sobre nosotros para estar bien informado.
            </div>
        
        </div>

        <div class="caja_eeff">
            <div class="container">
                <div class="lista_items">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <a href="#" target="_blank" class="full"></a>
                                EEFF INTELIGO GROUP <br>
                                2018

                            </article>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <article>
                                <a href="#" target="_blank" class="full"></a>
                                EEFF INTELIGO GROUP <br>
                                2019
                                
                            </article>
                        </div>
                        <!--<div class="col-sm-6 col-md-3">
                            <article>
                                <a href="#" target="_blank" class="full"></a>
                                EEFF INTELIGO
                                
                            </article>
                        </div>-->
                        <!--<div class="col-sm-6 col-md-3">
                            <article>
                                <a href="#" target="_blank" class="full"></a>
                                EEFF INTELIGO
                                
                            </article>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>


            

        



        
        
    </div>
</div>


