<div class="banner_interna" style="background-image: url(/assets/images/banner-nuestra-organizacion.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                NUESTRA ORGANIZACIÓN
            </h1>
            <div class="texto">
                Somos la Holding de Intercorp que brinda asesoría financiera y patrimonial a través de diversas soluciones que se ajustan al perfil y necesidades de nuestros clientes.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_organizacion">

    <div class="seccion_white seccion_organizacion">
        <div class="container">
            <h2>
                En Inteligo Group estamos comprometidos con el logro de los objetivos de vida de nuestros clientes, para lo cual, les brindamos asesoría experta y soluciones a medida a través de:
            </h2>
            
        </div>

        <div class="caja_caracteristicas">
            <div class="container">
                <ul class="lista_caracteristicas">
                    <li>
                        <article>
                            <div class="ico">
                                <img src="/assets/images/organizacion-ico-2.svg">
                            </div>
                            Gestión Patrimonial con el diseño de portafolios personalizados de inversión
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="ico">
                                <img src="/assets/images/organizacion-ico-3.svg">
                            </div>
                            Asesoría tributaria y planificación patrimonial a través de socios estratégicos
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="ico">
                                <img src="/assets/images/organizacion-ico-1.svg">
                            </div>
                            Planeamiento Financiero
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="ico">
                                <img src="/assets/images/organizacion-ico-4.svg">
                            </div>
                            Gestión de Fondos Mutuos
                        </article>
                    </li>
                    <li>
                        <article>
                            <div class="ico">
                                <img src="/assets/images/organizacion-ico-5.svg">
                            </div>
                            Inversiones en la Bolsa de Valores de Lima
                        </article>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="caja_inversiones">
            <div class="container">
                <div class="titulo">
                    SOMOS EL MEJOR ALIADO DE NUESTROS CLIENTES PARA LA GESTIÓN DE SUS INVERSIONES
                </div>

                <div class="cuadro">
                    <div class="left">
                        <div class="year">
                            <span>25</span> Años <br>
                        </div>
                        <div class="txt">
                            De Operación
                        </div>
                    </div>
                    <div class="right">
                        <div class="monto">
                            <span>USD 6,475</span> Millones
                        </div>
                        <div class="txt">
                            TOTAL ACTIVOS ADMINISTRADOS
                        </div>
                    </div>
                </div>
                <div class="txt">
                    *Cifras a diciembre 2019
                </div>
            </div>
        </div>

        <div class="caja_nuestras_empresas">
            <div class="container">
                <div class="ancla" id="nuestras-empresas"></div>
                <div class="titulo">
                    Conozca más sobre nosotros
                </div>
            </div>
            <div class="contenedor_empresas">
                <div class="item item_1" num="item_1">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-1.png">
                </div>
                <div class="item item_2" num="item_2">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-2.png">
                </div>
                <div class="item item_3" num="item_3">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-3.png">
                </div>
                
                <div class="line"></div>
                
                <div class="item item_4" num="item_4">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-4.png">
                </div>
                <div class="item item_5" num="item_5">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-5.png">
                </div>
                <div class="item item_6" num="item_6">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-6.png">
                </div>
                <div class="item item_7" num="item_7">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-7.png">
                </div>
                <div class="clear"></div>
                
                <div class="item mar0"></div>
                <div class="item mar0"></div>
                <div class="item item_8" num="item_8">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-8.png">
                </div>
                <div class="item item_9" num="item_9">
                    <a href="#nuestras-empresas" class="full scroller"></a>
                    <div class="plus"></div>
                    <img src="/assets/images/nuestras-empresas-item-9.png">
                </div>
            </div>

            <div class="capa capa_1">
                <div class="item mar30">								
                    <img src="/assets/images/nuestras-empresas-item-1.png">
                </div>
                <div class="close"></div>
                <div class="texto">
                    Intercorp es un grupo empresarial comprometido con el desarrollo y bienestar de la familias peruanas.
                </div>
                <div class="contenedor_slider">
                    <ul class="slider_item">
                        <li>
                            <div class="imagen">
                                <img src="/assets/images/nuestras-empresas-item-1-imagen1.jpg">
                            </div>
                            <div class="txt">
                                Para mayor información sobre cifras trimestrales, puede dirigirse a la páginas web de Intercorp y de IFS: <br>
                                <a href="https://www.intercorp.com.pe" target="_blank">www.intercorp.com.pe </a>	/
                                <a href="https://www.ifs.com.pe" target="_blank">www.ifs.com.pe</a>										
                            </div>
                        </li>
                        <li>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <article>
                                            <div class="lineR"></div>
                                            <div class="lineB"></div>
                                            <div class="tit">
                                                Ingresos <span>(*)</span>
                                            </div>
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th>Empresas</th>
                                                    <th>2019</th>
                                                </tr>
                                                <tr>
                                                    <td>Financiamiento</td>
                                                    <td>1,591</td>
                                                </tr>
                                                <tr>
                                                    <td>Retail</td>
                                                    <td>2,745</td>
                                                </tr>
                                                <tr>
                                                    <td>Educación</td>
                                                    <td>279</td>
                                                </tr>
                                                <tr>
                                                    <td>Salud</td>
                                                    <td>2,225</td>
                                                </tr>
                                                <tr>
                                                    <td>Otras</td>
                                                    <td>1,277</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>8,118</td>
                                                </tr>
                                                
                                            </table>
                                        </article>
                                    </div>
                                    <div class="col-sm-6">
                                        <article>
                                            <div class="lineB"></div>
                                            <div class="tit">
                                                Colaboradores <span>(*)</span>
                                            </div>
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th>Empresas</th>
                                                    <th>2019</th>
                                                </tr>
                                                <tr>
                                                    <td>Financiamiento</td>
                                                    <td>7,901</td>
                                                </tr>
                                                <tr>
                                                    <td>Retail</td>
                                                    <td>27,374</td>
                                                </tr>
                                                <tr>
                                                    <td>Educación</td>
                                                    <td>10,722</td>
                                                </tr>
                                                <tr>
                                                    <td>Salud</td>
                                                    <td>21,403</td>
                                                </tr>
                                                <tr>
                                                    <td>Otras</td>
                                                    <td>15.362</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>82,762</td>
                                                </tr>														
                                            </table>
                                        </article>
                                    </div>
                                    <div class="col-sm-6">
                                        <article>
                                            <div class="lineR"></div>
                                            <div class="tit">
                                                Utilidad Neta <span>(*)</span>
                                            </div>
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th>Empresas</th>
                                                    <th>2019</th>
                                                </tr>
                                                <tr>
                                                    <td>Financiamiento</td>
                                                    <td>563</td>
                                                </tr>
                                                <tr>
                                                    <td>Retail</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>Educación</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>Salud</td>
                                                    <td>144</td>
                                                </tr>
                                                <tr>
                                                    <td>Otras</td>
                                                    <td>51</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>883</td>
                                                </tr>														
                                            </table>
                                        </article>
                                    </div>
                                    <div class="col-sm-6">
                                        <article>													
                                            <div class="tit">
                                                Patrimonio <span>(*)</span>
                                            </div>
                                            <table cellpadding="0" cellspacing="0" border="0">
                                                <tr>
                                                    <th>Empresas</th>
                                                    <th>2019</th>
                                                </tr>
                                                <tr>
                                                    <td>Financiamiento</td>
                                                    <td>2,613</td>
                                                </tr>
                                                <tr>
                                                    <td>Retail</td>
                                                    <td>1,302</td>
                                                </tr>
                                                <tr>
                                                    <td>Educación</td>
                                                    <td>229</td>
                                                </tr>
                                                <tr>
                                                    <td>Salud</td>
                                                    <td>196</td>
                                                </tr>
                                                <tr>
                                                    <td>Otras</td>
                                                    <td>361</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>4,701</td>
                                                </tr>														
                                            </table>
                                        </article>
                                    </div>

                                    <div class="col-12">
                                        <div class="txt_small">
                                            Cifras a diciembre 2019 <br>
                                            (*) En millones de dólares. Colaboradores en unidades
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                    
            </div>
            <div class="capa capa_2">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-2.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                IFS es un proveedor líder de productos y servicios bancarios, de seguros y de gestión patrimonial para personas y empresas en el Perú. Su propósito es empoderar a todos los peruanos a alcanzar su bienestar financiero. En tal sentido, cuentan con una plataforma integrada de servicios financieros en el Perú a través de Interbank, Interseguro e Inteligo Group.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Conozca más sobre IFS aquí: <br><br>
                                <a href="https://www.ifs.com.pe" target="_blank">www.ifs.com.pe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_3">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-3.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Holding de Intercorp que brinda asesoría financiera y patrimonial a través de diversas soluciones que se ajustan al perfil y necesidades de sus clientes.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Calles 50 y 74 San Francisco <br>
                                Edificio P.H. 909, Piso 16, <br>
                                Ciudad de Panamá - República de Panamá. <br><br>
                                T. (507) 270-1011
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_4">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-4.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Inteligo Bank, es un banco establecido en Nassau Bahamas desde 1995; cuenta con una Sucursal en Panamá y está regulado por las Superintendencias de Banca de ambos países. Adicionalmente, el banco está supervisado por la Comisión de Valores de Bahamas (Securities Commission of the Bahamas). <br><br>

                                Inteligo Bank brinda servicios de banca privada para clientes que buscan soluciones para la gestión y protección de su patrimonio a través de la asesoría financiera personalizada de sus expertos y en el marco de un servicio excepcional. <br><br>

                                Inteligo Bank ofrece también servicios diferenciados a sus clientes más exigentes, a través de sus marcas Inteligo Plus e Inteligo Life.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Oficina Principal: <br>
                                Seventeen Shop Building, 1st floor <br>
                                Collins Avenue & Fourth Terrace, Centreville <br>
                                PO Box N-3732 <br>
                                Nassau, The Bahamas <br>
                                T. (242) 328 6846 <br><br>
                                Sucursal Panamá <br>
                                Torre Financial Center <br>
                                Calle 50 con Elvira Mendez, Piso 48 <br>
                                PO Box 0823-00585 <br>
                                Panamá, Rep. de Panamá <br>
                                T. (507) 366 9600 <br><br><br>
                                Conozca más sobre Inteligo Bank aquí: <br><br>
                                <a href="https://www.inteligobank.com" target="_blank">www.inteligobank.com</a>											
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_5">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-5.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Inteligo USA es una empresa constituida a inicios del 2019 en los Estados Unidos y tiene sus oficinas en Nueva York; presta servicios de asesoría en inversiones y análisis financiero a otras empresas de Inteligo Group, con el objetivo de generar retornos superiores ajustados por riesgo, invirtiendo en activos líquidos e ilíquidos globales, aprovechando las mejores oportunidades y a través de diversas clases de activos. 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Oficina: <br>
                                450 Park Avenue, Suite 2703 <br>
                                New York, NY 10022, USA <br><br>
                                (212) 321 4205											
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_6">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-6.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Inteligo Perú Holdings (IPH) es una empresa establecida en Perú desde 2019. IPH brinda servicios corporativos a las diferentes empresas que conforman Inteligo Group, centralizando actividades comunes a las subsidiarias del Grupo con el fin de generar eficiencias. 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Edificio Capital <br>
                                Ricardo Rivera Navarrete 501, piso 17 <br>
                                San Isidro <br><br>
                                (511) 625 9500 <br><br>
                                <a href="https://inteligomail@inteligogroup.com" target="_blank">inteligomail@inteligogroup.com</a>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_7">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-7.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Intéligo SAB, es una sociedad agente de bolsa, establecida en Perú desde 1993 y regulada por la Superintendencia del Mercado de valores. <br><br>
                                Intéligo SAB brinda asesoría financiera a personas naturales y jurídicas para inversiones en la BVL y en el mercado internacional, siempre, en un ámbito de total transparencia, compromiso, proactividad. 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Oficinas: <br>
                                Edificio Capital <br>
                                Ricardo Rivera Navarrete 501, piso 21 <br>
                                San Isidro, Lima, Perú. <br><br>

                                Patio Panorama <br>
                                Av. Circunvalación del Club Golf los Incas Nº 134, <br>
                                Urbanización del Club Golf los Incas <br>
                                Surco, Lima, Perú <br><br>

                                Centro Comercial Real Plaza Arequipa <br>
                                Av. Ejército No. 1009 <br>
                                Oficina 122 <br>
                                Cayma, Arequipa, Perú <br><br>

                                (511) 625 9500 <br><br>

                                Conozca más sobre Intéligo SAB aquí: <br><br>

                                <a href="https://www.inteligosab.com" target="_blank">www.inteligosab.com</a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_8">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-8.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Interfondos SAF, es una sociedad administradora de fondos, establecida en Perú desde 1996 y regulada por la Superintendencia del Mercado de Valores. <br><br>
                                Interfondos, cuenta con una política de inversión sólida que busca una adecuada combinación de rentabilidad y riesgo; y una gestión comercial que enfatiza la asesoría personalizada y el servicio al cliente.
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Torre Interbank <br>
                                Av. Carlos Villarán 140,Urb. Santa Catalina <br>
                                Piso 6-A <br>
                                La Victoria, Lima, Perú <br>
                                (511) 219 2121 <br><br>
                                Conozca más sobre Interfondos aquí: <br><br>
                                <a href="https://www.interfondos.com.pe" target="_blank">www.interfondos.com.pe</a>											
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="capa capa_9">							
                <div class="item">								
                    <img src="/assets/images/nuestras-empresas-item-9.png">
                </div>
                <div class="close"></div>
                <div class="container cont2">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="caja_texto">
                                Certia, es desde el año 2018 una marca de servicio de Inteligo SAB, que ofrece planificación financiera, es decir, transforma los objetivos de vida de sus clientes en objetivos financieros, definiendo estrategias para alcanzarlos. <br><br>
                                Certia gestiona las finanzas de sus clientes diseñando  un portafolio de inversión adaptado a sus necesidades particulares, con acceso a los instrumentos financieros del mercado local e internacional. 
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="caja_texto_2">
                                Oficinas: <br>
                                Edificio Capital <br>
                                Ricardo Rivera Navarrete 501, piso 21 <br>
                                San Isidro, Lima, Perú. <br><br>

                                Patio Panorama <br>
                                Av. Circunvalación del Club Golf los Incas Nº 134, <br>
                                Urbanización del Club Golf los Incas <br>
                                Surco, Lima, Perú <br><br>

                                Conozca más sobre Certia Intéligo aquí: <br><br>

                                <a href="https://www3.inteligocertia.com/" target="_blank">https://www3.inteligocertia.com/</a> <br><br>

                                CERTIA Intéligo, es una marca de Intéligo SAB.
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="caja_nuestras_propuestas">
            <div class="container">
                <div class="titulo">
                    Nuestra Propuesta de Valor
                </div>
            </div>
            <div class="contenedor_propuestas">
                <div class="item item_1">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-1.svg">
                    </div>
                    <div class="txt">
                        Un portafolio diseñado de acuerdo a su perfil y necesidades
                    </div>
                </div>
                <div class="item item_2">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-2.svg">
                    </div>
                    <div class="txt">
                        Oferta global de productos: Arquitectura abierta
                    </div>
                </div>
                <div class="item item_3">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-3.svg">
                    </div>
                    <div class="txt">
                        Presencia a nivel nacional
                    </div>
                </div>
                <div class="item item_4">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-4.svg">
                    </div>
                    <div class="txt">
                        Administración proactiva de sus inversiones
                    </div>
                </div>
                <div class="item item_5">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-5.svg">
                    </div>
                    <div class="txt">
                        Confidencialidad en el manejo de su inversión
                    </div>
                </div>
                <div class="item item_6">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-6.svg">
                    </div>
                    <div class="txt">
                        Soluciones financieras y sinergias a través de Intercorp
                    </div>
                </div>
                <div class="item item_7">
                    <div class="ico">
                        <img src="/assets/images/nuestra-propuesta-ico-7.svg">
                    </div>
                    <div class="txt">
                        Asesores profesionales con experiencia en gestión patrimonial
                    </div>
                </div>
            </div>
        </div>

        <div class="caja_servicios" style="background-image: url(images/organizacion-servicios-fondo.jpg);">
            <div class="container">
                <div class="caja_azul">
                    <div class="titulo">
                        NUESTRAS SUBSIDIARIAS PONEN A SU DISPOSICIÓN A SUS EQUIPOS DE EXPERTOS Y UNA AMPLIA GAMA DE SERVICIOS FINANCIEROS
                    </div>
                </div>
                <div class="left">
                    <div class="item">
                        <span>
                            Gerencia
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            Equipos de asesores financieros y analistas comerciales
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            Equipos de productos
                        </span>
                    </div>
                </div>
                <div class="right">
                    <div class="item">
                        <span>
                            Equipos de asesoría y portafolio
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            Equipos de estrategia y estudios económicos
                        </span>
                    </div>
                    <div class="item">
                        <span>
                            Equipos de inversiones
                        </span>
                    </div>
                </div>

                <div class="c_servicios">
                    <div class="titulo">
                        Servicios Financieros
                    </div>

                    <div class="row padd-8">
                        <div class="col-md-4">
                            <article>
                                <a href="#" class="full"></a>
                                <div class="dot"></div>
                                <div class="titular">
                                    <span>Administración de portafolios</span>
                                </div>
                                <div class="box">
                                    Gestionamos activamente su portafolio, siguiendo los lineamientos que usted ha definido.
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article>
                                <a href="#" class="full"></a>
                                <div class="dot"></div>
                                <div class="titular">
                                    <span>Asesoría Financiera</span>
                                </div>
                                <div class="box">
                                    Brindamos asesoría para la mejor toma de decisiones de inversión, considerando su perfil de riesgo y necesidades.
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article>
                                <a href="#" class="full"></a>
                                <div class="dot"></div>
                                <div class="titular">
                                    <span>Trading</span>
                                </div>
                                <div class="box">
                                    Nuestras subsidiarias ponen a su disposición a sus equipos de expertos y una amplia gama de servicios financieros.
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        
        
    </div>
</div>
