<div class="banner">

    <ul class="home_slider">
        <li style="background-image: url(/assets/images/banner-home.jpg);">
            <div class="container">
                
            </div>
        </li>
        <li style="background-image: url(/assets/images/banner-home-2.jpg);">
            <div class="container">
                
            </div>
        </li>
    </ul>

    <div class="contenedor_azul">
        <div class="caja_azul">
            <h1>
                EXPERTOS QUE VALORAN <br>SU PATRIMONIO
            </h1>
            <div class="texto">
                Somos la Holding de Intercorp que brinda asesoría financiera y patrimonial a través d diversas soluciones que se ajustan al perfil y necesidades de nuestros clientes.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal">

    <div class="seccion_white">
        <div class="container">
            <h2>
                DESARROLLAMOS EL FUTURO DE NUESTROS CLIENTES PARA QUE PUEDAN DISFRUTAR DEL PRESENTE
            </h2>

            <div class="parrafo">
                Brindamos gestión patrimonial y asesoría financiera en un marco de servicio excepcional.
            </div>
        </div>

        <div class="caja_caracteristicas">
            <div class="container">
                <ul class="lista_caracteristicas">
                    <li>
                        <article>																				
                            <div class="ico">
                                <img src="/assets/images/ico-compromiso.svg">
                            </div>
                            <div class="t">Compromiso</div>
                            <div class="layer">
                                <div class="ico">
                                    <img src="/assets/images/ico-compromiso-white.svg">
                                </div>
                                <div class="t">Compromiso</div>
                                <div class="parrafo">
                                    Hacemos propios los objetivos de nuestros clientes y estamos enfocados en ser claros yresponsables con la información que proveemos, cuidando siempre la calidez en nuestro trato.
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>																				
                            <div class="ico">
                                <img src="/assets/images/ico-proactividad.svg">
                            </div>
                            <div class="t">Proactividad</div>
                            <div class="layer">
                                <div class="ico">
                                    <img src="/assets/images/ico-proactividad-white.svg">
                                </div>
                                <div class="t">Proactividad</div>
                                <div class="parrafo">
                                    Nos anticipamos a las necesidades de cada cliente, somos rápidos al responder y nospreocupamos en gestionar diversas alternativas según su perfil.
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>																				
                            <div class="ico">
                                <img src="/assets/images/ico-excelencia.svg">
                            </div>
                            <div class="t">Excelencia</div>
                            <div class="layer">
                                <div class="ico">
                                    <img src="/assets/images/ico-excelencia-white.svg">
                                </div>
                                <div class="t">Excelencia</div>
                                <div class="parrafo">
                                    La excelencia está presente en la asesoría experta que le brindamos a nuestros clientesconsiderando sus necesidades y proyectos de vida, y en todos nuestros momentos de contacto.
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>																				
                            <div class="ico">
                                <img src="/assets/images/ico-comunicacion.svg">
                            </div>
                            <div class="t">Comunicación</div>
                            <div class="layer">
                                <div class="ico">
                                    <img src="/assets/images/ico-comunicacion-white.svg">
                                </div>
                                <div class="t">Comunicación</div>
                                <div class="parrafo">
                                    Exploramos las necesidades de nuestros clientes, los escuchamos y comprendemos para conocerlos y brindarles las soluciones que necesitan.
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>																				
                            <div class="ico">
                                <img src="/assets/images/ico-confidencialidad.svg">
                            </div>
                            <div class="t">Confidencialidad</div>
                            <div class="layer">
                                <div class="ico">
                                    <img src="/assets/images/ico-confidencialidad-white.svg">
                                </div>
                                <div class="t">Confidencialidad</div>
                                <div class="parrafo">
                                    Valoramos la confianza de nuestros clientes siendo reservados y cuidadosos con su información.
                                </div>											
                            </div>
                        </article>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="caja_subsidiarias">
            <div class="container">
                <div class="titulo">
                    NUESTRAS SUBSIDIARIAS
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <article>
                            <a href="#" class="full"></a>
                            <img src="/assets/images/subsidiaria-img-1.jpg">
                            <div class="f"></div>
                        </article>
                    </div>
                    <div class="col-6 col-md-3">
                        <article>
                            <a href="#" class="full"></a>
                            <img src="/assets/images/subsidiaria-img-2.jpg">
                            <div class="f"></div>
                        </article>
                    </div>
                    <div class="col-6 col-md-3">
                        <article>
                            <a href="#" class="full"></a>
                            <img src="/assets/images/subsidiaria-img-3.jpg">
                            <div class="f"></div>
                        </article>
                    </div>
                    <div class="col-6 col-md-3">
                        <article>
                            <a href="#" class="full"></a>
                            <img src="/assets/images/subsidiaria-img-4.jpg">
                            <div class="f"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <div class="caja_actualidad">
            <div class="container">
                <div class="titulo">
                    Actualidad
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <article>
                            <a href="actualidad.php" class="full"></a>
                            <div class="imagen">
                                <img src="/assets/images/home-actualidad-img-1.jpg">
                            </div>
                            <div class="c">
                                <div class="fecha">
                                    13 Octubre 2020
                                </div>
                                <div class="titular">
                                    25 años Inteligo 
                                </div>
                                <div class="texto">
                                    Valoramos la confianza de nuestros clientes siendo reservados y cuidadosos con su información.
                                </div>
                                <div class="flecha"></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article>
                            <a href="actualidad.php" class="full"></a>
                            <div class="imagen">
                                <img src="/assets/images/home-actualidad-img-2.jpg">
                            </div>
                            <div class="c">
                                <div class="fecha">
                                    10 Setiembre 2020
                                </div>
                                <div class="titular">
                                    Comentarios del mercado - Edición 4
                                </div>
                                <div class="texto">
                                    ¿Cómo ha impactado el COVID-19 al sector retail en Perú?
                                </div>
                                <div class="flecha"></div>
                            </div>
                        </article>
                    </div>
                    <div class="col-md-4">
                        <article>
                            <a href="actualidad.php" class="full"></a>
                            <div class="imagen">
                                <img src="/assets/images/home-actualidad-img-3.jpg">
                            </div>
                            <div class="c">
                                <div class="fecha">
                                    07 Agosto 2020
                                </div>
                                <div class="titular">
                                    Comentarios del mercado - Edición 3
                                </div>
                                <div class="texto">
                                    ¿Cómo se comporta el sector de construcción, manufactura y minería durante la pandemia?
                                </div>
                                <div class="flecha"></div>
                            </div>
                        </article>
                    </div>
                    
                </div>
            </div>
        </div>


        
    </div>
</div>
