<div class="banner_interna" style="background-image: url(/assets/images/banner-cultura-interna.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                CULTURA INTERNA
            </h1>
            <div class="texto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut finibus erat, a fringilla purus.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_cultura">

    <div class="seccion_white seccion_cultura">
        <div class="container">
            <h2>
                Nos orientamos por el propósito de Inteligo, que consiste en desarrollar el futuro de nuestros clientes para que puedan disfrutar del presente
            </h2>

            <div class="parrafo">
                Tenemos claro el camino para darle sentido a nuestra gente de lo que significa ser parte de Inteligo. Vivimos una cultura que se basa en la vivencia de nuestros valores (colocar los 6 con isotipo y descriptor). Valores que nos inspiran a Empatizar por el Cliente, mantener la Apertura al Cambio, viviendo el Pasión por el Aprendizaje y Proyectando Eficacia.
            </div>

            <ul class="listado">
                <li>
                    <div class="imagen">
                        <img src="/assets/images/cultura-interna-img-1.jpg">
                    </div>
                    <div class="barra">
                        <div class="dot"></div>
                        <a href="cultura-interna-detalle.php" class="full"></a>
                        <div class="t">Cultura Interna</div>
                    </div>
                </li>
                <li>
                    <div class="imagen">
                        <img src="/assets/images/cultura-interna-img-2.jpg">
                    </div>
                    <div class="clear"></div>
                    <div class="barra">
                        <div class="dot"></div>
                        <a href="cultura-interna-nuestros-protagonistas.php" class="full"></a>
                        <div class="t">NUESTROS PROTAGONISTAS</div>
                    </div>
                </li>
                <li>
                    <div class="imagen">
                        <img src="/assets/images/cultura-interna-img-3.jpg">
                    </div>
                    <div class="barra">
                        <div class="dot"></div>
                        <a href="cultura-interna-gestion-de-talento.php" class="full"></a>
                        <div class="t">GESTIÓN DEL TALENTO</div>
                    </div>
                </li>
                <li>
                    <div class="imagen">
                        <img src="/assets/images/cultura-interna-img-4.jpg">
                    </div>
                    <div class="clear"></div>
                    <div class="barra">
                        <div class="dot"></div>
                        <a href="cultura-interna-clima-organizacional.php" class="full"></a>
                        <div class="t">CLIMA <br>ORGANIZACIONAL</div>
                    </div>
                </li>
                <li>
                    <div class="imagen">
                        <img src="/assets/images/cultura-interna-img-5.jpg">
                    </div>
                    <div class="barra">
                        <div class="dot"></div>
                        <a href="cultura-interna-equidad.php" class="full"></a>
                        <div class="t">EQUIDAD</div>
                    </div>
                </li>
            </ul>
            
        </div>

        <div class="caja_registrate">
            <div class="container">
                <div class="titulo">
                    Regístrate
                </div>

                <div class="parrafo">
                    <p>
                        Bríndanos tu correo electrónico para mantenerte informado de nuestras futuras oportunidades y actividades. 
                    </p>
                    <p>
                        Escríbenos a: <br>
                        <a href="#">seleccion@inteligogroup.com</a>
                    </p>

                </div>
            </div>
        </div>

        



        
        
    </div>
</div>

