<div class="banner_interna" style="background-image: url(/assets/images/banner-encuentrenos.jpg);">

    <div class="container">
        <div class="caja_azul">
            <h1>
                Encuéntrenos
            </h1>
            <div class="texto">
                Nos caracterizamos por la cercanía con nuestros clientes a través de nuestras subsidiarias.
            </div>
        </div>
    </div>
    
    
</div>

<div class="seccion_principal pagina_encuentrenos">

    <div class="seccion_white seccion_encuentrenos">
        <div class="container">
            <div class="lista_detalles">
                <div class="row">
                    <div class="col-md-4">
                        <div class="caja_detalle">
                            <div class="tit">
                                Sucursal Panamá
                            </div>
                            <div class="item">
                                <div class="ico">
                                    <img src="/assets/images/ico-ubicacion.svg">
                                </div>
                                Calles 50 y 74 San Francisco <br>
                                Edificio P.H. 909, Piso 16, <br>
                                ciudad de Panamá <br>
                                República de Panamá 
                            </div>

                            <div class="item">
                                <div class="ico">
                                    <img src="/assets/images/ico-telefono.svg">
                                </div>
                                T. (507) 270-1011
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-4">
                        <div class="caja_detalle">
                            <div class="tit">
                                Sucursal Panamá
                            </div>
                            <div class="item">
                                <div class="ico">
                                    <img src="/assets/images/ico-ubicacion.svg">
                                </div>
                                Calles 50 y 74 San Francisco <br>
                                Edificio P.H. 909, Piso 16, <br>
                                ciudad de Panamá <br>
                                República de Panamá
                            </div>

                            <div class="item">
                                <div class="ico">
                                    <img src="/assets/images/ico-telefono.svg">
                                </div>
                                T. (507) 270-1011 
                            </div>
                        </div>
                    </div>-->

                    <div class="col-md-4">
                        <div class="cuadro">
                            Visítenos en <span>Linkedin</span>

                            <div class="ico">
                                <a href="https://www.linkedin.com/company/inteligo/" target="_blank">
                                    <img src="/assets/images/ico-instagram-white.svg">
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    
                </div>
            </div>
        </div>	

        <div class="caja_expertos">
            <div class="container">
                <div class="bluebox">
                    EXPERTOS QUE VALORAN SU PATRIMONIO
                </div>
            </div>
        </div>				
        
    </div>
</div>


